/*Entypo is designed by Daniel Bruce. http://entypo.com/ (CC BY-SA)*/

@font-face {
  font-family: 'EntypoRegular';
  src: url('fonts/entypo-webfont.eot');
  src: local("☺"),
		url('fonts/entypo-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/entypo-webfont.woff') format('woff'),
    url('fonts/entypo-webfont.ttf') format('truetype'),
    url('fonts/entypo-webfont.svg#EntypoRegular') format('svg');
}