* {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border: 0px 0px 0px 0px;
}

body {
	background: #f4f4f4;
	width: 100%;
	height: 100%;
	background: url(http://subtlepatterns.com/patterns/purty_wood.png);
}

#wrap {
	position: relative;
	background: black;
	margin-left: auto;
	margin-right: auto;
	font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
	overflow: hidden;
}

.cell {
	background: #23238E;
	float: left;
	color: #CFB52B;
	text-shadow: 2px 2px 2px #000;
	filter: dropshadow(color=#000, offx=10, offy=10);
	text-align: center;
	font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
	cursor: pointer;
}




.expired {
	color: grey;
	cursor: normal;
}

.top {
	color: white;
	text-shadow: 2px 2px 2px #000;
	filter: dropshadow(color=#000, offx=10, offy=10);
	cursor: normal;
}

.teams {
	background: #23238E;
	float: left;
	color: #CFB52B;
	text-shadow: 2px 2px 2px #000;
	filter: dropshadow(color=#000, offx=10, offy=10);
	text-align: center;
	font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
	cursor: pointer;
}

.teamName {
	color: white;
}

.question {
	display: none;
	background: #060CE9;
	position: absolute;
	text-align: center;
	top: 0;
	left: 0;
	color: white;
}

.questionText {
	margin: 20% auto;
	text-shadow: 2px 2px 2px #000;
	filter: dropshadow(color=#000, offx=10, offy=10);
}

.sentanceText {
	margin: 10% auto;
	text-shadow: 2px 2px 2px #000;
	filter: dropshadow(color=#000, offx=10, offy=10);
}

.answer {
	display: none;
	background: #060CE9;
	position: absolute;
	text-align: center;
	top: 0;
	left: 0;
	color: white;
	z-index: 500;
}

.answerText {
	margin: 20% auto;
	text-shadow: 2px 2px 2px #000;
	filter: dropshadow(color=#000, offx=10, offy=10);
}

.close {
	color: white;
	font-family: arial;
	font-weight: bold;
	position: absolute;
	top: 10;
	right: 15;
	cursor: pointer;
}

.proceed {
	color: white;
	height: 5%;
}

.winner {
	background: #CFB52B;
}

.team1 {
	position: absolute;
	bottom: 0;
	left: 0;
}

.team2 {
	position: absolute;
	bottom: 0;
	left: 0;
}

.team3 {
	position: absolute;
	bottom: 0;
	right: 0;
}

.cell, .teams, .question, .answer {
	background: #1980b0; /* Old browsers */
	background: -moz-linear-gradient(top,  #1980b0 0%, #233168 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1980b0), color-stop(100%,#233168)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #1980b0 0%,#233168 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #1980b0 0%,#233168 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #1980b0 0%,#233168 100%); /* IE10+ */
	background: linear-gradient(top,  #1980b0 0%,#233168 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1980b0', endColorstr='#233168',GradientType=0 ); /* IE6-9 */
}

/*

title, bold and sans serif



Question is the wierd 60 fonts



*/